/* LOGO  */
#logo{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

#logo i{
  margin-right: 8px;
  font-size: 40px;
  color: var(--on-background);
  display: inline-block;
  vertical-align: middle;
}

#logo i:hover{
  color: var(--secondary);
  transition: 1000ms;
}

#logo .text{
	font-family: var(--title);
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 800;
  color: var(--on-background);
}

@media only screen and (max-width: 350px) {
  #logo .text{
    display: none;
  }
}

